/* RaiseInvoice.css */
body {
  background-color: #1e1e1e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #121212, #1f1f1f);
}

.login-box {
  background-color: #2c2c2c;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
  width: 100%;
  max-width: 450px;
  animation: slideUp 0.4s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.login-box h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #00bfff;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box input[type="text"],
.login-box input[type="number"],
.login-box input[type="file"],
.login-box select {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #1e1e1e;
  border: 1px solid #555;
  border-radius: 8px;
  color: #f1f1f1;
  font-size: 15px;
  transition: border-color 0.3s ease;
  width: 100%;

}

.login-box input[type="text"]:focus,
.login-box input[type="number"]:focus,
.login-box input[type="file"]:focus,
.login-box select:focus {
  border-color: #00bfff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 191, 255, 0.2);
}

.custom-select {
  background-color: #1e1e1e;
  
}

.login-box button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-box button[type="submit"]:hover {
  background-color: #0056b3;
}

.error-msg {
  color: #ff4d4f;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
.top-left-logo{
   position: absolute;
  top: 20px;
  left: 20px;
  width: 280px; /* adjust as needed */
  height: auto;
  z-index: 1000;
}